<table align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            Beste {{firstname}},
        </td>
    </tr>
    <tr>
        <td>
            Om jouw e-mailadres te bevestigen bij Salve Mundi willen wij graag dat je op de knop hieronder klikt.

            Heb je deze email niet aangevraagd? Dan kan je hem gerust negeren.
        </td>
    </tr>
    <tr>
        <td>
            <a href="">Bevestig e-mailadres</a>
        </td>
    </tr>
    <tr>
        <td>
            Je inschrijving is echter nog niet compleet! We willen graag dat je 20 euro overmaakt voor de jaarlijkse contributie.
        </td>
    </tr>
    <tr>
        <td>
            Zodra ook de betaling binnen is bij ons ben jij een officieel lid van Salve Mundi!
        </td>
    </tr>
    <tr>
        <td>
            Groeten,
            Bestuur Salve Mundi
        </td>
    </tr>
</table>