<div>
    Beste {{firstName}},<br>
    <br>
    Eindelijk is het zover: De nieuwe website van Salve Mundi is online! Er zijn een hoop dingen veranderd, waaronder het inlogsysteem. 
    Om deze reden vragen we jullie om een nieuw wachtwoord aan te maken. Je gebruikersnaam is hetzelfde als het email adres waarop je deze mail hebt ontvangen. 
    Gebruik <a href="{{baseUrl}}confirmation?token={{token}}">deze link</a> om een wachtwoord aan te maken! Verder zouden we je willen vragen om alle gegevens te 
    controlleren op correctheid. Het is mogelijk dat niet alles in onze database verwerkt is.<br>
    <br>
    Mocht je nu features missen of ben je gewoon nieuwsgierig, neem gerust een kijkje in <a href="https://github.com/salvemundi/">de repositories van Salve Mundi</a>! 
    De website is open-source en iedereen mag meehelpen. Alle hulp is welkom!<br>
    <br>
    We wensen jullie heel veel plezier met de nieuwe webiste!<br>
    <br>
    Met vriendelijke groeten,<br>
    ICT-commissie
</div>