<table align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            Beste {{firstname}},
        </td>
    </tr>
    <tr>
        <td>
            Goed nieuws, we hebben zojuist je betaling ontvangen en dat betekent dat je lidmaatschap met een jaar is verlengd!
        </td>
    </tr>
    <tr>
        <td>
            Ter bevestiging: We hebben zojuist {{price}} euro van je ontvangen voor het verlengen van je huidige lidmaatschap bij Salve Mundi met een jaar. 
            Het lidmaatschap is nu geldig tot en met {{membership-enddate}}.
        </td>
    </tr>
    <tr>
        <td>
            Groeten,
            Bestuur Salve Mundi
        </td>
    </tr>
</table>