<style>
    .footer {
        margin-top: 20px;
        font-size:10px;
        line-height:1;
        text-align:center;
        color:#495057;
    }
</style>

<div class="footer">
    Dit bericht is automatisch verzonden. Antwoorden is hierop niet mogelijk. Salve Mundi, Rachelsmolen 1, Gebouw R1, 5612MA Eindhoven, KvK nr. 70280606
</div>