<style>
    .header {
        width: 100%;
        height: 100px;
        background:#663265;
        background-color: #663265;
        position: absolute;
    }

    .header-center {
        position: absolute;
        transform: translate(-50%, -50%);
        width: auto;
        height: 75px;
        top: 50%;
        left: 50%;
    }

    .header-placeholder {
        height: 100px;
        margin-bottom: 20px;
    }

    .header .header-center img {
        height: 75px !important;
        width: auto;
    }
</style>

<div class="header">
    <div class="header-center">
        <img src="https://salvemundi.nl/logo-wit.png"/>
    </div>
</div>
<div class="header-placeholder"></div>