<table align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            Beste Kampcommissie,
        </td>
    </tr>
    <tr>
        <td>
            Er is een nieuwe aanmelding van {{firstname}} {{lastname}} voor het aankomende Salve Mundi Kamp. Hij of zij heeft betaald voor de inschrijving voor het kamp. Meer informatie over de transactie kan gevonden worden op <a href="Mollie.com">mollie.com</a>
        </td>
    </tr>
</table>