<table align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            Beste Bestuur,
        </td>
    </tr>
    <tr>
        <td>
            Er is een nieuwe aanmelding van {{firstname}} {{lastname}} voor Salve Mundi. Hij of zij heeft betaald voor de inschrijving en is nu officieel lid van Salve Mundi. Meer informatie over de transactie kan gevonden worden op Mollie.com.
        </td>
    </tr>
</table>