<table align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            Beste {{firstname}},
        </td>
    </tr>
    <tr>
        <td>
            Goed nieuws, we hebben zojuist je betaling ontvangen en dat betekent dat je aanmelding compleet is.
            Welkom bij Salve Mundi!
        </td>
    </tr>
    <tr>
        <td>
            Ter bevestiging: We hebben zojuist {{price}} euro van je ontvangen voor een eenjarig lidmaatschap bij Salve Mundi.
            Het lidmaatschap is geldig tot en met {{membership-enddate}}.
        </td>
    </tr>
    <tr>
        <td>
            Je zal zo spoedig mogelijk van ons horen.
            Wees niet bang om vragen te stellen door te mailen naar <a href="info@salvemundi.nl">info@salvemundi.nl</a> of ons aan te spreken op school.
        </td>
    </tr>
    <tr>
        <td>
            Groeten,
            Bestuur Salve Mundi
        </td>
    </tr>
</table>